/*GENERALES*/


*{
	padding: 0px;
	margin: 0px;
}

body{
	background-image: url(../img/fondo.png);
	min-height: 100vh;
  	background-repeat: no-repeat;
  	background-size: cover;
  		/*background-color: lightblue;*/
	/*background: url(../img/fondo.png);*/
}

a{
	color: #01B1EA;
}
a:visited{
	color: #01B1EA;
}
a:hover{
	color: #555555;
}

/*CONTAINER*/

#container{
	width: 80%;
	margin: 0px auto;
	box-shadow: 0px 0px 10px grey;
	background-color: white;
}

/*HEADER*/

#header{
	height: 145px;
	background-color: #F0F0F0;
}

#logo{
	padding: 30px;
	margin-left: 20px;
}

#logo img{
	height: 50px;
}


#logo a{
	float: left;
	font-size: 30 px;
	letter-spacing: 4px;
}

/*MENU*/

#menu{
	clear: both;
	background-color: #222;
	color: white;
	height: 55px;
	border-bottom: 4px solid #01B1EA;
}


#menu ul{
	list-style: none;
	text-decoration: none;
	margin: 0px auto;
	margin-left: 25px;
}

#menu ul li{
	line-height: 55px;
	float: left;
	border-right: 1px solid #363636;
}



#menu a{
	color: white;
	text-decoration: none;
	display: block;	
	padding-left: 10px;
	padding-right: 10px;
	transition: all 300ms;
}

#menu a:first-child{
	border-left: 1px solid #363636;
}

#menu a:hover{
	background-color: #01B1EA;
}

/*CONTENT*/
#content{
	margin: 0px auto;
	overflow: hidden;
	background-color: white;
}

/*BARRA LATERAL*/

#lateral{
	width: 20%;
	min-height: 500px;
	float: left;	
	margin-top: 20px;
	margin-left: 15px;
}

#lateral .block_aside{
	display: block;
	width: 90%;
	margin: 5px auto;
	padding: 10px;

}
#lateral h3{
	display: block;
	color: 222;
	width: 100%;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 15px;
	font-size: 16 px;
	font-weight: bold;
	background-color: #E1E1E1;
	border-bottom: 2px solid #01B1EA;
}

#lateral ul{
	margin-top: 10px;
	margin-bottom: 10px;
}


#lateral ul li{
	list-style: square;
	margin-left: 20px;
}

/*FORMS*/
label,
input[type="text"],
input[type="password"],
input[type="email"],
select{
	display: block;
	width: 95%;
	margin-top: 2px;
	margin-bottom: 2px;
}


input[type="text"],
input[type="password"],
input[type="email"],
select{
	border: 1px solid #C9C9C9;
	box-shadow: 0px 0px 2px #ccc inset;
	background: white;
	padding: 2px;
	color: gray;
	transition: all 300 ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
	border: 1px solid #1579B5;
	color: black;
}

input[type="button"],
input[type="submit"],
button{
	display: block;
	border-radius: 2px;
	width: auto;
	padding: 5px;
	color: white;
	background-color: #2979CD;
	border: 1px solid #11608E;
	cursor: pointer;
}

label,
input[type="button"],
input[type="submit"],
button{
	display: block;
	margin-top: 10px;
}

/*CENTRAL*/
#central{
	width: 75%;
	float: right;
	border-left: 1px solid #ccc;
	box-shadow: -5px -1px 5px #ddd;
	padding: 20px;
}

#central h1{
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 1px;
	margin-bottom: 20px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding: 20px;
}


/*PRODUCTOS*/
.product{
	width: 30%;
	border-right: 1px solid #ccc;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;

}

.product img{
	height: 100px;
}

.product h2{
	font-size: 18px;
}


/*FOOTER*/

#footer{
	clear: both;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	background-color: #222222;
	border-top: 4px solid #01B1EA;
}